*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
:root {
  --pink: #e86f54;
  --pink-hover: #e25b41;
  --pink-focus: #fa6f54;
  --mint: #3cbc81;
  --carmine: #e74a3b;
  --onyx: #111111;
  --carbon: #5c5c5c;
  --iron: #d7d7d7;
  --night: #060606;
  --black: #000000;
  --white: #ffffff;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('https://fonts.gstatic.com/s/inter/v4/UcC76YfYHzclF-86Kg1g5-4n.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.gstatic.com/s/inter/v4/UcC76YfYHzclF-86Kg1g5-4p.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_vx3rCs.woff2')
    format('woff2');
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);
  color: var(--black);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.main-header {
  color: var(--black);
  text-align: center;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-header {
  color: var(--black);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 389px;
  background-color: var(--black);
  font-family: var(--footer-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 32px 0 0 0;
}

.footer-header {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0 0 18px 0;
}

.foot-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer-part1 {
  display: none;
}

.footer-part2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer-part3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

address {
  color: var(--white);
  font-family: var(--footer-font);
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  width: 147px;
  height: 2em;
}

.footer-sm {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.footer-icon {
  fill: var(--white);
  vertical-align: top;
  margin-bottom: 18px;
}

/* ===== TABLET ===== */

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: auto;
  }

  .footer {
    height: 298px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 60px 0 0 0;
  }

  .foot-box {
    height: 100%;
  }

  .footer-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 18px 0;
  }

  .footer-part2 {
    width: calc((100% - 24px) / 2);
  }

  .footer-part3 {
    width: calc((100% - 24px) / 2);
    padding: 0 0 0 44px;
  }

  .footer-sm {
    display: flex;
    flex-direction: column;
  }
}

/* ===== DESKTOP ===== */

@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
  }

  .footer {
    height: 298px;
    padding: 72px 0 0 0;
  }

  .foot-box {
    display: flex;
    justify-content: space-between;
  }

  .footer-part1 {
    display: flex;
  }

  .footer-part2 {
    width: calc((100% - 354px) / 2);
  }

  .footer-part3 {
    width: calc((100% - 354px) / 2);
    padding: 0 0 0 96px;
  }

  .footer-logo {
    fill: #ffffff;
    margin: 0 210px 0 24px;
  }
}
