<section class="section" id="about">
  <h2 class="section-header"><span>ABOUT</span><span class="header-line"></span></h2>
  <div class="flex-about">
    <p class="p-about">
      We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give
      people the beauty and joy creating stylish and modern masterpieces. Every bouquet we create is
      unique as you are.
    </p>
    <div class="item-about">
      <img
        src="/src/images/image_about_desktop.jpg"
        srcset="/src/images/image_about@2x_desktop.jpg"
        alt="bukiet"
      />
    </div>
  </div>
</section>
