<section class="section" id="about">
  <h2 class="section-header"><span>ABOUT</span><span class="header-line"></span></h2>
  <div class="flex-about">
    <p class="p-about item-about">
      We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give
      people the beauty and joy creating stylish and modern masterpieces. Every bouquet we create is
      unique as you are.
    </p>
    <img class="item-about" src="./images/bouquet.jpg" alt="bukiet" />
  </div>
</section>
