<section id="blog">
  <h2 class="section-header"><span>BLOG</span><span class="header-line"></span></h2>
  <div class="blog-photos">
    <div class="blog-photo">
      <img
        alt="flowers image"
        src="/src/images/flowers_image2_desktop.jpg"
        srcset="/src/images/flowers_image2@2x_desktop.jpg 2x"
      />
    </div>
    <div class="blog-photo">
      <img
        alt="flowers image"
        src="/src/images/flowers_image1_desktop.jpg"
        srcset="/src/images/flowers_image1@2x_desktop.jpg 2x"
      />
    </div>
    <div class="blog-photo hidden-photo">
      <img
        alt="flowers image"
        src="/src/images/flowers_image3_desktop.jpg"
        srcset="/src/images/flowers_image3@2x_desktop.jpg 2x"
      />
    </div>
  </div>
  <div class="blog-arrow-icons">
    <div class="blog-icon-arrow-container">
      <svg class="blog-icon-arrow">
        <use href="images/icons.svg#icon-left-arrow"></use>
      </svg>
    </div>
    <div class="blog-icon-arrow-container">
      <svg class="blog-icon-arrow">
        <use href="images/icons.svg#icon-right-arrow"></use>
      </svg>
    </div>
  </div>
  <p class="blog-p-follow">Follow to our newsletter</p>
  <button class="btn-subscribe" type="button" subscribe-modal-open>Subscribe</button>
</section>
