<section id="blog">
  <h2 class="section-header"><span>BLOG</span><span class="header-line"></span></h2>
  <div class="blog-photos">
    <div class="blog-photo">
      <img
        alt="flowers image"
        src="images/flowers_image2_desktop.jpg"
        srcset="images/flowers_image2@2x_desktop.jpg 2x"
        sizes="(min-width:1280px) 390px,
    (min-width: 768px) 344px, 136px"
      />
    </div>
    <div class="blog-photo">
      <img
        alt="flowers image"
        src="images/flowers_image1_desktop.jpg"
        srcset="images/flowers_image1@2x_desktop.jpg 2x"
        sizes="(min-width:1280px) 390px,
    (min-width: 768px) 344px, 136px"
      />
    </div>
    <div class="blog-photo hidden-photo">
      <img
        alt="flowers image"
        src="images/flowers_image3_desktop.jpg"
        srcset="images/flowers_image3@2x_desktop.jpg 2x"
        sizes="(min-width:1280px) 390px,
    (min-width: 768px) 344px, 136px"
      />
    </div>
  </div>
  <div class="blog-arrow-icons">
    <div class="blog-icon-left">
      <svg width="50px" height="50px">
        <use href="images/icons.svg#icon-arrow"></use>
      </svg>
    </div>
    <div class="blog-icon-right">
      <svg width="50px" height="50px">
        <use href="images/icons.svg#icon-arrow"></use>
      </svg>
    </div>
  </div>
  <p class="blog-p-follow">Follow to our newsletter</p>
  <button class="blog-subscribe-button">Subscribe</button>
</section>
