<section id="blog">
  <h2 class="section-header"><span>BLOG</span><span class="header-line"></span></h2>
  <div class="blog-photos">
    <div class="blog-photo">
      <img
        alt="flowers image 1"
        src="./src/images/flowers_image2.jpg"
        srcset="./src/images/flowers_image2@2.jpg 2x"
        sizes="(min-width:1280px) 390px,
    (min-width: 768px) 344px, 136px"
      />
    </div>
    <div class="blog-photo">
      <img
        alt="flowers image 2"
        src="./src/images/flowers_image1.jpg"
        srcset="./src/images/flowers_image1@2.jpg 2x"
        sizes="(min-width:1280px) 390px,
    (min-width: 768px) 344px, 136px"
      />
    </div>
    <div class="blog-photo hidden-photo">
      <img
        alt="flowers image 3"
        src="./src/images/flowers_image3.jpg"
        srcset="./src/images/flower_image3@2.jpg 2x"
        sizes="(min-width:1280px) 390px,
    (min-width: 768px) 344px, 136px"
      />
    </div>
  </div>
  <div class="blog-arrow-icons">
    <div class="blog-icon-left">
      <svg width="50px" height="50px">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </div>
    <div class="blog-icon-right">
      <svg width="50px" height="50px">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </div>
  </div>
  <p class="blog-p-follow">Follow to our newsletter</p>
  <button class="blog-subscribe-button">Subscribe</button>
</section>
