<section id="delivery">
  <h2 class="section-header">
    <!-- delivery -->
    DELIVERY
  </h2>
</section>
<section id="delivery" class="delivery-section">
  <div class="container delivery">
    <div class="delivery-title-position">
      <h2 class="delivery-title">Delivery</h2>
      <hr class="delivery-line-title" />
    </div>
    <ul class="list delivery-order-list">
      <li class="delivery-order-number">
        <div class="delivery-svg-position">
          <svg class="delivery-svg-ellipse" width="40" height="40">
            <use href="./images/icons.svg#icon-ellipse"></use>
          </svg>
          <span class="number-in-svg">1</span>
        </div>

        <p class="delivery-article">Choose your bouquet and make an order on website</p>
      </li>
      <li class="delivery-order-number">
        <div class="delivery-svg-position">
          <svg class="delivery-svg-ellipse" width="40" height="40">
            <use href="./images/icons.svg#icon-ellipse"></use>
          </svg>
          <span class="number-in-svg">2</span>
        </div>
        <p class="delivery-article">
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </p>
      </li>
      <li class="delivery-order-number">
        <div class="delivery-svg-position">
          <svg class="delivery-svg-ellipse" width="40" height="40">
            <use href="./images/icons.svg#icon-ellipse"></use>
          </svg>
          <span class="number-in-svg">3</span>
        </div>
        <p class="delivery-article">
          Wait for the delivery at the selected time or pick up the order from the store
        </p>
      </li>
      <li class="delivery-order-number">
        <div class="delivery-svg-position">
          <svg class="delivery-svg-ellipse" width="40" height="40">
            <use href="./images/icons.svg#icon-ellipse"></use>
          </svg>
          <span class="number-in-svg">4</span>
        </div>
        <p class="delivery-article">Make someone happy or enjoy yourself</p>
      </li>
    </ul>
  </div>
  <div class="delivery-image-position">
    <img
      class="img"
      srcset="./images/image_delivery@2x.jpg 2x"
      src="./images/image_delivery.jpg"
      alt="colorful poppies"
    />
  </div>
</section>
