<footer class="footer">
      <ul class="foot-box container">
        <li class="footer-part1">
          <a
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer">
            <svg class="footer-logo" width="72px" height="57px">
              <use href="./images/icons.svg#icon-favicon"></use>
            </svg>
          </a>
        </li>
        <li class="footer-part2">
          <div class="footer-nav">
            <h3 class="footer-header">Navigation</h3>
            <p><a href="./index.html#hero">Anemone</a></p>
            <p><a href="./index.html#about-us">About Us</a></p>
            <p><a href="./index.html#store">Store</a></p>
            <p><a href="./index.html#delivery">Delivery</a></p>
          </div>
          <div class="footer-ot">
            <h3 class="footer-header">Opening times</h3>
            <p>Every day</p>
            <p>9:00 - 22:00</p>
          </div>
        </li>
        <li class="footer-part3">
          <div>
            <h3 class="footer-header">Contacts</h3>
            <p><a href="tel:+380631234567">+38 063 123 45 67</a></p>
            <p><a href="mailto:anemonestudio@example.com">anemonestudio@example.com</p>
            <p class="footer-address"><address> Street, 11 Kyiv, Ukraine</address></p>
          </div>
          <div class="footer-sm">
            <a
              href="https://facebook.com"
              target="_blank"
              rel="noopener noreferrer">
              <svg class="footer-icon" width="28px" height="28px">
                <use href="./images/icons.svg#icon-fb"></use>
              </svg>
            </a>
            <a
              href="https://facebook.com"
              target="_blank"
              rel="noopener noreferrer">
              <svg class="footer-icon" width="28px" height="28px">
                <use href="./images/icons.svg#icon-insta"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </footer>