<header class="header">
    <div class="container header-flex">
        <div class="header-div">
    <nav class="header-nav">
        <div class="logo-div">
        <a class="logo" href="./index.html">
            <svg class="icon" width="72" height="57">
                <use href="./images/icons.svg#icon-favicon"></use>
            </svg>
        </a>
        </div>
        <ul class="header-list list">
                <li><a class="header-list-nav link" href="#hero">Anemone</a></li>
                <li><a class="header-list-nav link" href="#about">About us</a></li>
                <li><a class="header-list-nav link" href="#store">Store</a></li>
                <li><a class="header-list-nav link" href="./partials/delivery.html">Delivery</a></li>
                <li><a class="header-list-nav link" href="./partials/blog.html">Blog</a></li> 
        </ul>
        <div class="tablet-icon-div">
            <a class="tel-icon" href="tel:+380631234567">
            <svg width="24" height="24" class="icon">
            <use href="./images/icons.svg#icon-tel2"></use>
            </svg>
        </a>
        </div>
        <!-- <div class="desktop-icon-div">
            <a class="tel-icon" href="tel:+380631234567">
            <svg width="28" height="28" class="icon">
            <use href="./images/icons.svg#icon-tel1"></use>
            </svg>
        </a>
        </div> -->
    </div>
</div>
    </nav>
</div>
<div class="mobile-menu-layout">
    <div class="header-nav">
    <a class="logo" href="">
        <svg class="icon" width="45" height="35">
            <use href="./images/icons.svg#icon-favicon_mobile"></use>
        </svg>
    </a>
    <nav class="mobile-nav">
        <a class="tel-icon" href="tel:+380631234567">
            <svg class="icon" width="22" height="22" >
                <use href="./images/icons.svg#icon-tel3"></use>
            </svg>
        </a>
        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg width="24" height="24">
                <use href="./images/icons.svg#icon-burger"></use>
                </svg>
          </button>
    </nav>
    </div>
</div>
<div class="js-menu-container">
    <div class="mobile-menu-close ">
            <button type="button" class="button-modal-box menu-toggle js-close-menu">
                <svg class="button-icon-close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M18 6L6 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
            </button>   
    </div>
    <nav class="mobile-header-nav">
            <ul class="header-list list">
            <li><a class="header-list-nav link" href="#hero">Anemone</a></li>
            <li><a class="header-list-nav link" href="#about">About us</a></li>
            <li><a class="header-list-nav link" href="#store">Store</a></li>
            <li><a class="header-list-nav link" href="#delivery">Delivery</a></li>
            <li><a class="header-list-nav link" href="#blog">Blog</a></li>
        </ul>
    </nav>
</div>
</header>