<div class="container">
  <section id="hero">
    <h1 class="main-header"></h1>
    <div class="hero">
      <p class="flower-studio">flower studio</p>

      <img
        src="./images/image_home_page_desktop.jpg"
        alt="hero-flower"
        srcset="./images/image_home_page@2x_desktop.jpg"
        class="hero-flower"
      />
      <button data-modal-open type="button" class="hero-shop-now">
        <svg class="hero-svg" viewBox="0 0 64 76" width="64" height="76">
          <use href="./images/icons.svg#icon-shop-now-mobile"></use>
        </svg>
      </button>
      <div class="anemone-logo">
        <p>ANEMONE</p>
      </div>
    </div>
  </section>
</div>
