    <!-- modal -->
    <div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <button class="modal-close" data-modal-close>
          <svg>
            <use href="./images/icons.svg#icon-x"></use>
          </svg>
        </button>
        <h2 class="contact-header" id="contact-header">Contact us</h2>
        <p class="contact-p" id="contact-p">
          If you have any additional questions or you want to clarify something
          before you make an order please fill in your contact details. We will
          call you back.
        </p>
        <form id="contactForm" name="contact-form" autocomplete="on" novalidate>
          <label class="contact-field-header"> Name </label>
          <span class="contact-field">
            <input
              type="text"
              name="contact-name"
              id="name"
              class="contact-field-box"
              placeholder="Kristin Watson" />
          </span>
          <label class="contact-field-header"> Email </label>
          <span class="contact-field">
            <input
              type="email"
              name="contact-email"
              id="email"
              class="contact-field-box"
              placeholder="tanya.hill@example.com" />
          </span>
          <div class="contact-send">
            <button
              type="submit"
              class="send-button"
              id="submitButton"
              disabled
              onclick="submitForm()">
              Send
            </button>
          </div>
        </form>
        <div class="thank-you-message" id="thankYouMessage">
          <div class="tymsg-h" id="tymsgh">
            <svg class="plantsicon">
              <use href="./images/icons.svg#icon-plants" id="plantsicon"></use>
            </svg>
            <h2 class="contact-header">Thank you!</h2>
            <p class="tymsg-p" id="tymsgp">
              We have received your contact details and will reach you soon.
            </p>
            <div class="contact-send">
              <button type="button" class="continue-button" data-modal-close>
                Continue
              </button>
            </div>
          </div>
        </div>
        
      </div>
    </div>