<section class="section" id="store">
  <h2 class="section-header"><span>STORE</span><span class="header-line"></span>
    </h2>
    <ul class="flex-store">
      <li class="store">
        <img src="./images/bouquet.jpg" alt="bukiet 1" />
        <h3 class="card-header"><span>compliments</span><span class="card-line"></span></h3>
        <p class="card-p">from $15</p>
      </li>
      <li class="store">
        <img src="./images/bouquet.jpg"  alt="bukiet 2" />
        <h3 class="card-header"><span>bouquets size S</span><span class="card-line"></span></h3>
        <p class="card-p">from $25</p>
      </li>
      <li class="store">
        <img src="./images/bouquet.jpg" alt="bukiet 3" />
        <h3 class="card-header"><span>bouquets size M</span><span class="card-line"></span></h3>
        <p class="card-p">from $45</p>
      </li>
      <li class="store">
        <img src="./images/bouquet.jpg" alt="bukiet 4" />
        <h3 class="card-header"><span>bouquets size L</span><span class="card-line"></span></h3>
        <p class="card-p">from $60</p>
      </li>
    </ul>
    <button class="btn-order" type="button">Order flowers</button>
  </div>
</section>
