<section class="section" id="store">
  <h2 class="section-header"><span>STORE</span><span class="header-line"></span></h2>
  <ul class="flex-store">
    <li class="store">
      <img
        src="/src/images/bouquet3_desktop.jpg"
        srcset="/src/images/bouquet3@2x_desktop.jpg 2x"
        alt="bukiet 1"
      />
      <h3 class="card-header"><span>compliments</span><span class="card-line"></span></h3>
      <p class="card-p">from $15</p>
    </li>
    <li class="store">
      <img
        src="/src/images/bouquet1_desktop.jpg"
        srcset="/src/images/bouquet1@2x_desktop.jpg 2x"
        alt="bukiet 2"
      />
      <h3 class="card-header"><span>bouquets size S</span><span class="card-line"></span></h3>
      <p class="card-p">from $25</p>
    </li>
    <li class="store">
      <img
        src="/src/images/bouquet2_desktop.jpg"
        srcset="/src/images/bouquet2@2x_desktop.jpg 2x"
        alt="bukiet 3"
      />
      <h3 class="card-header"><span>bouquets size M</span><span class="card-line"></span></h3>
      <p class="card-p">from $45</p>
    </li>
    <li class="store">
      <img
        src="/src/images/bouquet4_desktop.jpg"
        srcset="/src/images/bouquet4@2x_desktop.jpg 2x"
        alt="bukiet 4"
      />
      <h3 class="card-header"><span>bouquets size L</span><span class="card-line"></span></h3>
      <p class="card-p">from $60</p>
    </li>
  </ul>
  <button class="btn-order" type="button" data-modal-open4>Order flowers</button>
</section>
