*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
:root {
  --pink: #e86f54;
  --pink-hover: #e25b41;
  --pink-focus: #fa6f54;
  --mint: #3cbc81;
  --carmine: #e74a3b;
  --onyx: #111111;
  --carbon: #5c5c5c;
  --iron: #d7d7d7;
  --night: #060606;
  --black: #000000;
  --white: #ffffff;
  --black-6: #00000099;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Inter-Medium.woff') format('woff'),
    url('./fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Inter-Bold.woff') format('woff'),
    url('./fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Montserrat-Regular.woff') format('woff'),
    url('./fonts/Montserrat-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Montserrat-Medium.woff') format('woff'),
    url('./fonts/Montserrat-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Montserrat-SemiBold.woff') format('woff'),
    url('./fonts/Montserrat-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Montserrat-Bold.woff') format('woff'),
    url('./fonts/Montserrat-Bold.woff2') format('woff2');
}

body {
  font-family: 'Montserrat', 'Inter', sans-serif;
  background-color: var(--white);
  color: var(--black);
}
.section {
  margin: 0 16px 60px 16px;
}
.link {
  text-decoration: none;
  font-style: normal;
}

.main-header {
  color: var(--black);
  text-align: center;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-header {
  color: var(--black);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 16px;
}
/* STORE - Monia POCZĄTEK */
.header-line {
  flex-grow: 1;
  border-bottom: 1px solid var(--black);
}
.flex-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  padding-top: 32px;
}
.p-about {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
}
.flex-store {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 32px 0;
  width: calc((136px * 2) + 16px);
  margin: 0 auto;
}

.store {
  flex-basis: calc((100% - 16px) / 2);
}

.store img {
  max-width: 100%;
}
.card-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  padding: 8px 0;
  color: var(--black);
}
.card-p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.25px;
  color: var(--black-6);
  padding-bottom: 8px;
}

.btn-order {
  display: block;
  min-width: 208px;
  height: 44px;
  margin: 0 auto;
  background-color: var(--pink);
  border: none;
  border-radius: 38px;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.btn-order:hover {
  background-color: var(--pink-hover);
}

.btn-order:focus {
  background-color: var(--pink-focus);
}

/* STORE - Monia KONIEC */

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 389px;
  background-color: var(--black);
  font-family: var(--footer-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 32px 0 0 0;
}

.footer-header {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0 0 18px 0;
}

.foot-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer-part1 {
  display: none;
}

.footer-part2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer-part3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

address {
  color: var(--white);
  font-family: var(--footer-font);
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  width: 147px;
  height: 2em;
}

.footer-sm {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.footer-icon {
  fill: var(--white);
  vertical-align: top;
  margin-bottom: 18px;
}

/* ===== TABLET ===== */

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
  .section {
    margin: 0 24px 100px 24px;
  }

  .section-header {
    font-size: 44px;
  }

  .flex-about {
    flex-direction: row;
    padding-top: 30px;
    gap: 30px;
  }

  .item-about {
    flex-grow: 1;
    flex-basis: 0;
  }

  .p-about {
    font-size: 20px;
    line-height: 24.38px;
  }

  .flex-store {
    width: calc((344px * 2) + 32px);
    gap: 32px;
    padding: 60px 0;
  }

  .card-header {
    font-size: 32px;
    line-height: 39.01px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .card-line {
    flex-grow: 1;
    border-bottom: 1px solid var(--black);
  }

  .card-p {
    font-size: 24px;
    line-height: 29.26px;
  }

  .store {
    flex-basis: calc((100% - 32px) / 2);
  }

  .btn-order {
    min-width: 280px;
    height: 64px;
    font-size: 28px;
  }
  .footer {
    height: 298px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 60px 0 0 0;
  }

  .foot-box {
    height: 100%;
  }

  .footer-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 18px 0;
  }

  .footer-part2 {
    width: calc((100% - 24px) / 2);
  }

  .footer-part3 {
    width: calc((100% - 24px) / 2);
    padding: 0 0 0 44px;
  }

  .footer-sm {
    display: flex;
    flex-direction: column;
  }
}

/* ===== DESKTOP ===== */

@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
  }

  .flex-about {
    gap: 66px;
  }

  .p-about {
    font-size: 22px;
    line-height: 26.82px;
  }

  .flex-store {
    width: calc((600px * 2) + 32px);
    padding: 80px 0;
  }

  .card-header {
    font-size: 36px;
    line-height: 43.88px;
  }

  .card-p {
    font-size: 28px;
    line-height: 34.13px;
  }

  .footer {
    height: 298px;
    padding: 72px 0 0 0;
  }

  .foot-box {
    display: flex;
    justify-content: space-between;
  }

  .footer-part1 {
    display: flex;
  }

  .footer-part2 {
    width: calc((100% - 354px) / 2);
  }

  .footer-part3 {
    width: calc((100% - 354px) / 2);
    padding: 0 0 0 96px;
  }

  .footer-logo {
    fill: #ffffff;
    margin: 0 210px 0 24px;
  }
}
